<div class="form-group col-md-12">
     <span ng-show="helpers.points_remaining() != null;">
         <h1 id="points-available">{{ helpers.points_remaining() }}</h1>&nbsp;Characteristic points remaining.
     </span>
</div>

<div class="form-group col-xs-4 col-sm-2">
    <label class="control-label" for="intelligence">Intelligence</label>
    <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="intelligence"
           name="intelligence"  ng-model="character.intelligence">
    <label class="control-label" for="perception">Perception</label>
    <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="perception"
           name="perception"  ng-model="character.perception">
    <label class="control-label" for="strength">Strength</label>
    <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="strength"
           name="strength"  ng-model="character.strength">
    <label class="control-label" for="stamina">Stamina</label>
    <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="stamina"
           name="stamina"  ng-model="character.stamina">
</div>
<div class="form-group col-xs-4 col-sm-2">
    <label class="control-label" for="presence">Presence</label>
    <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="presence"
           name="presence"  ng-model="character.presence">
    <label class="control-label" for="communication">Communication</label>
    <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="communication"
           name="communication"  ng-model="character.communication">
    <label class="control-label" for="dexterity">Dexterity</label>
    <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="dexterity"
           name="dexterity"  ng-model="character.dexterity">
    <label class="control-label" for="quickness">Quickness</label>
    <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="quickness"
           name="quickness"  ng-model="character.quickness">
</div>