<div class="col-sm-6">
    <span class='h2'>{{ helpers.flaws_points() }}</span> Flaw points spent
    <div class="form-group">
        <select class="form-control" ng-options="book for book in f_books" ng-model="helpers.flaws_included_books">
        </select>
    </div>
</div>
<div class="col-xs-12">
    <div id="flaws-wrapper">
        <div ng-repeat="group in flaws">
            <div ng-show="group.flaws | any_in_book:helpers.flaws_included_books">
                <h4>{{ group.group_name }}</h4>
                <ul class="list-unstyled flaw-droppable">
                    <li ng-repeat="flaw in group.flaws | in_books:helpers.flaws_included_books | magnitude:flaws_magnitude"
                        ng-model="flaw" class="flaw-draggable" data-drag="true"
                        data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                        jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}">
                            {{ flaw.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>