<form role="form" class="">
    <div class="col-sm-4 col-md-3 form-group">
       <label class="" for="character_name">Character</label>
        <input type="text" name="character_name" id="character_name" class="form-control">
    </div>

    <div class="col-sm-4 col-md-3 form-group">
        <label class="control-label" for="saga">Saga</label>
        <input type="text" name="saga" id="saga" class="form-control">
    </div>

    <div class="col-sm-4 col-md-3 form-group">
        <label class="control-label" for="covenant">Covenant</label>
        <input type="text" name="covenant" id="covenant" class="form-control">
    </div>

    <div class="col-sm-4 col-md-3 form-group">
        <label class="control-label" for="house" name="house">House</label>
        <select class="form-control">
            <option selected></option>
            <option value="Bjornaer">Bjornaer</option>
            <option value="Bonisagus">Bonisagus</option>
            <option value="Criamon">Criamon</option>
            <option value="Ex Miscellenea">Ex Miscellenea</option>
            <option value="Flambeau">Flambeau</option>
            <option value="Guernicus">Guernicus</option>
            <option value="Jerbiton">Jerbiton</option>
            <option value="Mercere">Mercere</option>
            <option value="Merinita">Merinita</option>
            <option value="Tremere">Tremere</option>
            <option value="Tytalus">Tytalus</option>
            <option value="Verditius">Verditius</option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <ul class="nav nav-tabs" id="form-tabs" data-tabs="tabs">
            <li class="active"><a data-target="#description" data-toggle="tab" >Description</a></li>
            <li><a data-target="#characteristics" data-toggle="tab" >Characteristics</a></li>
            <li><a data-target="#abilities" data-toggle="tab" >Abilities</a></li>
            <li><a data-target="#virtues" data-toggle="tab" >Virtues</a></li>
            <li><a data-target="#flaws" data-toggle="tab" >Flaws</a></li>
            <li><a data-target="#arts" data-toggle="tab" >Arts</a></li>
            <li><a data-target="#spells" data-toggle="tab" >Spells</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="description">
            <div class="col-sm-4 col-md-3 form-group">
                <label class="control-label" for="birth_name">Birth Name</label>
                <input type="text" name="birth_name" id="birth_name" class="form-control">
            </div>

            <div class="col-sm-4 col-md-3 form-group">
                <label class="control-label" for="birth_name">Birth Year</label>
                <input type="number" name="birth_year" id="birth_year" class="form-control" value="1200">
            </div>
            <div class="col-sm-4 col-md-3 form-group">
                <label class="control-label" for="birth_name">Gender</label>
                <input type="text" name="gender" id="gender" class="form-control">
            </div>
            <div class="col-sm-4 col-md-3 form-group">
                <label class="control-label" for="nationality">Nationality</label>
                <input type="text" name="nationality" id="nationality" class="form-control">
            </div>

            <div class="col-sm-4 col-md-3 form-group">
                <label class="control-label" for="place_origin">Place of Origin</label>
                <input type="text" name="place_origin" id="place_origin" class="form-control">
            </div>

            <div class="col-sm-4 col-md-3 form-group">
                <label class="control-label" for="religion">Religion</label>
                <input type="text" name="religion" id="religion" value="Catholic" class="form-control">
            </div>

            <div class="col-sm-4 col-md-3 form-group">
                <label class="control-label" for="profession">Profession</label>
                <input type="text" name="profession" id="profession" class="form-control">
            </div>

            <div class="col-sm-4 col-md-3 form-group">
                <label class="control-label" for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="e.g. Baron de Montferrat">
            </div>

            <div class="col-sm-3 col-md-2 form-group">
                <label class="control-label" for="height">Height</label>
                <div class="input-group">
                    <input type="number" name="height" id="height" class="form-control" value="170">
                    <div  class="input-group-btn dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                data-target="height_system">
                            in<span class="caret"></span>
                        </button>
                        <ul id="height_system" class="dropdown-menu">
                            <li><a href="#">cm</a></li>
                            <li><a href="#">in</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-2 form-group">
                <label class="control-label" for="weight">Weight</label>
                <div class="input-group">
                    <input type="number" name="weight" id="weight" class="form-control" value="60">
                    <div  class="input-group-btn dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            kg<span class="caret"></span>
                        </button>
                        <ul id="weight_system" class="dropdown-menu">
                            <li><a href="#">kg</a></li>
                            <li><a href="#">lb</a></li>
                            <li><a href="#">st</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 form-group">
                <label class="control-label" for="hair">Hair</label>
                <input type="text" name="hair" id="hair" class="form-control">
            </div>

            <div class="col-sm-2 form-group">
                <label class="control-label" for="eyes">Eyes</label>
                <input type="text" name="eyes" id="eyes" class="form-control">
            </div>

            <div class="col-sm-2 form-group">
                <label class="control-label" for="handedness">Handedness</label>
                <select id="handedness" class="form-control" >
                    <options value="right" selected>right</options>
                    <options value="left">left</options>
                    <options value="ambidextrous">ambidextrous</options>
                </select>
            </div>

            <div class="form-group col-md-12">
                 <label class="control-label" for="physical_description">Physical Description</label>
                 <textarea rows="3" class="form-control" name="physical_description"></textarea>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label" for="backstory">Backstory</label>
                <textarea name="backstory" id="backstory" rows="3" class="form-control"></textarea>
            </div>
        </div>

        <div class="tab-pane fade" id="characteristics">
            <div class="form-group col-md-12">
                 <label><h1 id="points-available">{{ character.points_remaining() }}</h1></label>&nbsp;Characteristic points remaining.
            </div>

            <div class="form-group col-xs-4 col-sm-2">
                <label class="control-label" for="intelligence">Intelligence</label>
                <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="intelligence"
                       name="intelligence"  ng-model="character.intelligence">
                <label class="control-label" for="perception">Perception</label>
                <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="perception"
                       name="perception"  ng-model="character.perception">
                <label class="control-label" for="strength">Strength</label>
                <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="strength"
                       name="strength"  ng-model="character.strength">
                <label class="control-label" for="stamina">Stamina</label>
                <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="stamina"
                       name="stamina"  ng-model="character.stamina">
            </div>
            <div class="form-group col-xs-4 col-sm-2">
                <label class="control-label" for="presence">Presence</label>
                <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="presence"
                       name="presence"  ng-model="character.presence">
                <label class="control-label" for="communication">Communication</label>
                <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="communication"
                       name="communication"  ng-model="character.communication">
                <label class="control-label" for="dexterity">Dexterity</label>
                <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="dexterity"
                       name="dexterity"  ng-model="character.dexterity">
                <label class="control-label" for="quickness">Quickness</label>
                <input class="form-control attribute" type="number" min="-3" max="3" step="1" id="quickness"
                       name="quickness"  ng-model="character.quickness">
            </div>
        </div>

        <div class="tab-pane fade" id="abilities">
            <div class="form-group col-md-12">
                <table class="table table-striped">
                    <thead>
                        <th>Skill</th>
                        <th>Specific Kind</th>
                        <th>Specialty</th>
                        <th>Child</th>
                        <th>Adult</th>
                        <th>App.</th>
                        <th>Post-App.</th>
                        <th>In game</th>
                        <th>Score</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ability in Constants.abilities_list">
                            <td colspan="2" ng-if="!ability.choose_kind">{{ ability.display }}</td>
                            <td colspan="1" ng-if="ability.choose_kind">{{ ability.display }}</td>
                            <td colspan="1" ng-if="ability.choose_kind">
                                <input type="text" class="form-control input-sm" ng-model="ability.special_kind"
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="ability.child" ng-disabled="!input_enabled(ability)">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="ability.adult" ng-disabled="!input_enabled(ability)">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="ability.appr" ng-disabled="!input_enabled(ability)">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="ability.post_appr" ng-disabled="!input_enabled(ability)">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="ability.in_game" ng-disabled="!input_enabled(ability)">
                            </td>
                            <td><strong>{{ ability.score() }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="virtues">
            <div class="form-group col-md-12">virtues</div>
        </div>
        <div class="tab-pane fade" id="flaws">
            <div class="form-group col-md-12">flaws</div>
        </div>
        <div class="tab-pane fade" id="arts">
            <div class="form-group col-md-12">
                <table class="table table-striped">
                    <thead>
                        <th>Art</th>
                        <th>Appr.</th>
                        <th>Post-Appr.</th>
                        <th>In game</th>
                        <th>Score</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="art in techniques">
                            <td>{{ art.name }}</td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="art.appr" ng-disabled="!input_enabled(art)">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="art.post_appr" ng-disabled="!input_enabled(art)">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="art.in_game" ng-disabled="!input_enabled(art)">
                            </td>
                            <td><strong>{{ art.score() }}</strong></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr ng-repeat="art in forms">
                            <td>{{ art.name }}</td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="art.appr" ng-disabled="!input_enabled(art)">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="art.post_appr" ng-disabled="!input_enabled(art)">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm exp" min="0"
                                       ng-model="art.in_game" ng-disabled="!input_enabled(art)">
                            </td>
                            <td><strong>{{ art.score() }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="spells">
            <div class="form-group col-md-12">spells</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Save</button>
</form>
<script type='text/javascript'>
    $(document).ready(function() {
        $('#form-tabs').tab();
    });
</script>
