<a ui-sref="characters.detail.existing.edit({guid: guid})">Edit Character</a>
<div class="col-xs-12">
    <h3>Aura</h3>
    <div class="form-group row">
        <div class="col-xs-6">
            <label>Type</label>
            <select class="form-control" ng-options="aura.name for aura in helpers.auras" ng-model="aura"></select>
        </div>
        <div class="col-xs-3">
            <label>Magnitude</label>
            <input type="number" min="0" max="10" class="form-control" ng-model="aura_level">
        </div>
        <div class="col-xs-3">
            <label>Effect on Casting</label>
            <span class="form-control">{{ helpers.aura_effect() }}</span>
        </div>
    </div>
</div>
<div class="row panel">
    <div class="panel-heading">
        <h3>Formulaic Spells</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <h3>Cast Formulaic Spell</h3>
            <div class="form-group row">
                <div class="col-sm-6">
                    <select ng-model="selected_formulaic" ng-options="spell.name for spell in character.spells"
                            class="form-control" ></select>
                </div>
                <div class="col-sm-3">
                    Level: <strong>{{ helpers.spell_level(selected_formulaic) }}</strong>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="simple_formulaic()">Simple</button>
                    <button type="button" class="btn btn-warning"  ng-click="stress_formulaic()">Stress</button>
                    <div class="input-group">
                        <input type="number" min="0" ng-model="botch_dice" class="form-control small-number">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger"  ng-click="botch_formulaic()"
                                    ng-disabled="botch_required">Roll</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <span>Base Casting Total: </span>
                    <strong>{{ helpers.base_casting_total(selected_formulaic) }}</strong>
                </div>
                <div class="col-sm-3">
                    Roll: <strong>{{ formulaic_result.display }}</strong>
                </div>
                <div class="col-sm-3">
                    Result:
                    <strong ng-bind="formulaic_result.value + helpers.base_casting_total(selected_formulaic) + helpers.aura_effect()">
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row panel">
    <div class="panel-heading">
        <h3>Laboratory totals</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-3 form-group">
            <label>Technique</label>
            <select class="form-control" ng-options="t.index as t.name for t in helpers.techniques"
                    ng-model="lab_technique" >
            </select>
        </div>
        <div class="col-xs-12 col-sm-3 form-group">
            <label>Form</label>
            <select class="form-control" ng-options="f.index as f.name for f in helpers.forms"
                    ng-model="lab_form">
            </select>
        </div>
        <label><input type="checkbox" ng-model="lab_focus"> Magical Focus Applies?</label>
        <h1>{{ lab_total() }}</h1>
    </div>
</div>