<form role="form" ng-submit="save()">
    <div class="form-group">
        <div class="col-sm-3 col-md-3">
           <label class="" for="character_name">Character</label>
            <input type="text" name="character_name" id="character_name" class="form-control"
                   ng-model="character.character_name" required>
        </div>

        <div class="col-sm-3 col-md-3 form-group">
            <label class="control-label" for="saga">Saga</label>
            <input type="text" name="saga" id="saga" class="form-control" ng-model="character.saga">
        </div>

        <div class="col-sm-3 col-md-3 form-group">
            <label class="control-label" for="covenant">Covenant</label>
            <input type="text" name="covenant" id="covenant" class="form-control" ng-model="character.covenant">
        </div>

        <div class="col-sm-3 col-md-3 form-group">
            <label class="control-label" for="house">House</label>
            <select class="form-control" id="house" name="house" ng-model="character.house">
                <option value="0" selected >Bjornaer</option>
                <option value="1">Bonisagus</option>
                <option value="2">Criamon</option>
                <option value="3">Ex Miscellenea</option>
                <option value="4">Flambeau</option>
                <option value="5">Guernicus</option>
                <option value="6">Jerbiton</option>
                <option value="7">Mercere</option>
                <option value="8">Merinita</option>
                <option value="9">Tremere</option>
                <option value="10">Tytalus</option>
                <option value="11">Verditius</option>
            </select>
        </div>
    </div>
    <div class="clearfix form-group">
        <div class="col-xs-3 col-md-2 form-group">
            <label class="control-label" for="birth_year">Born</label>
            <input type="number" name="birth_year" id="birth_year" class="form-control" value="1200"
                   ng-model="character.birth_year">
        </div>
        <div class="col-xs-3 col-md-2 form-group">
            <label class="control-label" for="apprenticeship_finished">Gauntlet</label>
            <input type="number" name="apprenticeship_finished" id="apprenticeship_finished" class="form-control"
                   value="1220" ng-model="character.apprenticeship_finished">
        </div>
        <div class="col-xs-3 col-md-2 form-group">
            <label class="control-label" for="start">Start</label>
            <input type="number" name="start_year" id="start_year" ng-model="character.start_year" class="form-control" value="1220">
        </div>

        <div class="col-md-offset-3 col-md-3 col-xs-3 form-group">
            <button class="btn btn-primary btn-lg btn-block" type="submit"><strong>SAVE</strong></button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <label>Experience Points</label>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>Initial</th>
                        <th>Spent</th>
                        <th>Remaining</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Childhood</td>
                        <td>45</td>
                        <td>{{ helpers.childhood_exp_spent() - 75 }}</td>
                        <td>{{ 45 + 75 -  helpers.childhood_exp_spent() }}</td></td>
                    </tr>
                    <tr>
                        <td>Later Life</td>
                        <td>{{ helpers.adult_exp() }}</td>
                        <td>{{ helpers.adult_exp_spent() }}</td>
                        <td>{{ helpers.adult_exp() - helpers.adult_exp_spent() }}</td></td>
                    </tr>
                    <tr>
                        <td>Apprenticeship</td>
                        <td>{{ helpers.appr_exp() }}</td>
                        <td>{{ helpers.appr_exp_spent() }}</td>
                        <td>{{ helpers.appr_exp() -  helpers.appr_exp_spent() }}</td></td>
                    </tr>
                    <tr>
                        <td>Post-Apprenticeship</td>
                        <td>{{ helpers.post_appr_exp() }}</td>
                        <td>{{ helpers.post_appr_exp_spent() }}</td>
                        <td>{{ helpers.post_appr_exp() -  helpers.post_appr_exp_spent() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12"><span class="h3">{{ helpers.total_spell_levels() }}</span> Spell Levels Known</div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-xs-12">
            <span class="h4">Virtues</span>
            <ul class="list-unstyled drop-target" data-drop="true" jqyoui-droppable ng-model="character.virtues">
                <li ng-repeat="virtue in character.virtues track by $index | orderBy:'name'" data-drag="true">
                    <a class="btn btn-default btn-xs" ng-click="helpers.remove_virtue(virtue)">&times;</a>
                    <strong ng-if="virtue.magnitude == 'Major'">{{ virtue.name }}</strong>
                    <span ng-if="virtue.magnitude != 'Major'">{{ virtue.name }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-xs-12">
            <span class="h4">Flaws</span>
            <ul class="list-unstyled drop-target" data-drop="true" jqyoui-droppable ng-model="character.flaws">
                <li ng-repeat="flaw in character.flaws track by $index" data-drag="true">
                    <a class="btn btn-default btn-xs" ng-click="helpers.remove_flaw(flaw)">&times;</a>
                    <strong ng-if="flaw.magnitude == 'Major'">{{ flaw.name }}</strong>
                    <span ng-if="flaw.magnitude != 'Major'">{{ flaw.name }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <ul class="nav nav-tabs" id="form-tabs" data-tabs="tabs">
            <li class="active"><a data-target="#characteristics" data-toggle="tab" >Characteristics</a></li>
            <li><a ng-click="helpers.load('description')"  data-target="#description" data-toggle="tab" >Description</a></li>
            <li><a ng-click="helpers.load('virtues')" data-target="#virtues" data-toggle="tab" >Virtues</a></li>
            <li><a ng-click="helpers.load('flaws')" data-target="#flaws" data-toggle="tab" >Flaws</a></li>
            <li><a ng-click="helpers.load('abilities')" data-target="#abilities" data-toggle="tab" >Abilities</a></li>
            <li><a ng-click="helpers.load('arts')" data-target="#arts" data-toggle="tab" >Arts</a></li>
            <li><a ng-click="helpers.load('spells')" data-target="#spells" data-toggle="tab" >Spells</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="characteristics">
            <div ng-include src="'/static/partials/char_templates/characteristics-editor.tpl.html'"></div>
        </div>

        <div class="tab-pane fade" id="description">
            <div ng-include src="'/static/partials/char_templates/description-editor.tpl.html'"
                    ng-if="helpers.tabs_loaded.description"></div>
        </div>

        <div class="tab-pane fade" id="abilities">
            <div ng-include src="'/static/partials/char_templates/abilities-editor.tpl.html'"
                    ng-if="helpers.tabs_loaded.abilities"></div>
        </div>

        <div class="tab-pane fade" id="virtues">
            <div ng-include src="'/static/partials/char_templates/virtues-editor.tpl.html'"
                    ng-if="helpers.tabs_loaded.virtues"></div>
        </div>

        <div class="tab-pane fade" id="flaws">
            <div ng-include src="'/static/partials/char_templates/flaws-editor.tpl.html'"
                    ng-if="helpers.tabs_loaded.flaws"></div>
        </div>
        <div class="tab-pane fade" id="arts">
            <div ng-include src="'/static/partials/char_templates/arts-editor.tpl.html'"
                    ng-if="helpers.tabs_loaded.arts"></div>
        </div>
        <div class="tab-pane fade" id="spells">
            <div ng-include src="'/static/partials/char_templates/spells-editor.tpl.html'"
                    ng-if="helpers.tabs_loaded.spells"></div>
        </div>
    </div>
</form>