<div class="row">
    <div class="col-md-offset-4 col-md-4 col-xs-12">
        <a class="btn btn-primary btn-lg btn-block" ui-sref="characters.detail.new">
            <strong>Create New Character</strong>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="list-unstyled" id="character_list">
            <li ng-repeat="character in characters">
                <button class="btn btn-default btn-xs delete-character" ng-click="delete_character(character)">
                    &times;
                </button>&nbsp;
                <a ui-sref="characters.detail.existing.view({guid: character._id})"><span ng-if='character.character_name'>
                    {{ character.character_name }}
                    </span><span ng-if='!character.character_name'>
                        (unnamed character)
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>