body *:not(.glyphicon){
    font-family: 'Bitter', "Helvetica Neue";
}

.form-control{
    padding-left: 7px;
    padding-right: 7px;
}

.attribute{
    width: 50px;
}

.exp{
    width: 55px;
    margin: 0;
}

.drag {
  opacity: 0.5;
}
.over {
  background: red;
}

.drop-target{
    border: 4px dashed lightgrey;
    min-height: 50px;
}

#virtues-wrapper, #flaws-wrapper, #character_list{
    column-width: 150px;
    -webkit-column-width: 150px;
}

#character_list{
    min-height: 400px;
    font-size: 1.2em;
}

.delete-character{
    line-height: 1.42857143;
}

#character_list li{
    margin-top: 15px;
}

.spell{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

#copyright-disclaimer{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.total, .score{
    width: 100px;
}

.small-number{
    width: 6em;
}